<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rushdevo.camcam"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.rushdevo.camcam.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.rushdevo.camcam.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.rushdevo.camcam" />
            </intent-filter>
        </receiver>

        <service android:name="com.rushdevo.camcam.GCMIntentService" />

        <activity
            android:name="com.rushdevo.camcam.CamCamActivity"
            android:label="@string/title_activity_cam_cam" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rushdevo.camcam.ProvideFeedActivity"
            android:label="@string/title_activity_provide_feed" >
        </activity>
        <activity
            android:name="com.rushdevo.camcam.ShowFeedsActivity"
            android:label="@string/title_activity_show_feeds"
            android:parentActivityName="com.rushdevo.camcam.CamCamActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rushdevo.camcam.CamCamActivity" />
        </activity>

        <receiver android:name="com.rushdevo.camcam.RegistrationReceiver" >
        </receiver>

        <activity
            android:name="com.rushdevo.camcam.DisplayFeedActivity"
            android:label="@string/title_activity_display_feed"
            android:parentActivityName="com.rushdevo.camcam.ShowFeedsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rushdevo.camcam.ShowFeedsActivity" />
        </activity>

        <service
            android:name="com.rushdevo.camcam.ProvideFeedService"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>